
services:

  # ===================== DISCOVERY =====================
  discovery-service:
    build: ./Discovery-Service
    container_name: discovery-service
    ports:
      - "8761:8761"
    healthcheck:
      test: ["CMD","curl","-f","http://localhost:8761/actuator/health"]
      interval: 30s
      retries: 5

  # ===================== CONFIG =====================
  # config-service:
   # build: ./config-service
#  container_name: config-service
    #ports:
      #- "9999:9999"
    #environment:
     # - DISCOVERY_SERVICE_URL=http://discovery-service:8761/eureka
    #depends_on:
    #  discovery-service:
      #  condition: service_healthy

  # ===================== GATEWAY =====================
  gateway-service:
    build: ./Gateway-Service
    container_name: Gateway-Service
    ports:
      - "8888:8888"
    environment:
      - DISCOVERY_SERVICE_URL=http://Discovery-Service:8761/eureka
    healthcheck:
      test: [ "CMD","curl","http://localhost:8888/actuator/health" ]
      interval: 10s
      retries: 5
    depends_on:
      Discovery-Service:
          condition: service_healthy

  # ===================== SECURITY =====================
  security-service:
    build: ./microservice-security
    container_name: security-service
    ports:
      - "8070:8070"
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-service:8761/eureka
    healthcheck:
      test: [ "CMD","curl","http://localhost:8070/actuator/health" ]
      interval: 10s
      retries: 5
    depends_on:
      discovery-service:
        condition: service_healthy

  # ===================== MYSQL =====================
  mysql:
    image: mysql
    container_name: mysql
    ports:
      - '3306:3306'
    volumes:
      - /opt/data:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'


  # ===================== MONGODB =====================
  mongo-db:
    image: mongo
    container_name: mongo-db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  # ===================== ROOM SERVICE (JAVA) =====================
  room-service:
    build: ./RoomService
    container_name: room-service
    ports:
      - "8093:8093"
    environment:
      - DISCOVERY_SERVICE_URL=http://Discovery-Service:8761/eureka
    volumes:
      - ./upload:/Projet-Gestion-Hotel/upload
    healthcheck:
      test: [ "CMD","curl","http://localhost:8081/actuator/health" ]
      interval: 10s
      retries: 5
    depends_on:
      - Discovery-Service

  # ===================== RESERVATION SERVICE =====================
  reservation-service:
    build: ./Reservation-Service
    container_name: Reservation-Service
    ports:
      - "3000:3000"
    environment:
      - DISCOVERY_SERVICE_URL=http://Discovery-Service:8761/eureka
    healthcheck:
      test: [ "CMD","curl","http://localhost:8081/actuator/health" ]
      interval: 10s
      retries: 5
    depends_on:
      - Discovery-Service

  # ===================== PAIEMENT SERVICE =====================
  Paiement_Service:
    build: ./Paiement_Service
    container_name: Paiement_Service
    ports:
      - "8090:8090"
    environment:
      - DISCOVERY_SERVICE_URL=http://Discovery-Service:8761/eureka
    healthcheck:
      test: [ "CMD","curl","http://localhost:8081/actuator/health" ]
      interval: 10s
      retries: 5
    depends_on:
      - Discovery-Service

  # ===================== PAIEMENT SERVICE =====================
  ClientService:
    build: ./ClientService
    container_name: ClientService
    ports:
      - "8088:8088"
    environment:
      - DISCOVERY_SERVICE_URL=http://Discovery-Service:8761/eureka
    healthcheck:
      test: [ "CMD","curl","http://localhost:8081/actuator/health" ]
      interval: 10s
      retries: 5
    depends_on:
      - Discovery-Service


  # ===================== Service Interne =====================
  Service_Interne:
    build: ./Service_Interne
    container_name: service-interne
    ports:
      - "8081:8081"
    environment:
      - DISCOVERY_SERVICE_URL=http://Discovery-Service:8761/eureka
    healthcheck:
      test: [ "CMD","curl","http://localhost:8081/actuator/health" ]
      interval: 10s
      retries: 5
    depends_on:
      - Discovery-Service

  # ===================== ANGULAR FRONTEND =====================
  Gestion_hoteliere:
    build: ./Gestion_hoteliere
    container_name: Gestion_hoteliere
    ports:
      - "4200:80"




